<main>
<app-tutor-navbar></app-tutor-navbar>

<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed">
	
    <li><div class="user-view">
      <div class="background">
        <img src="../../../../assets/images/tutor/sidenav1.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../../../assets/images/student/profile.png"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">account_box</i>Profile</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>


</ul>


<div class="container">



<app-tutor-notice></app-tutor-notice>


</div>
</main>


 <!-- Footer -->
<app-tutor-footer></app-tutor-footer>