<app-navbar></app-navbar>

<!-- Section: Slider -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="../../../assets/images/website/Slider1.jpg" alt="" height="250px" width="580px">
        <div class="caption center-align">
          <h2>Join Us</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/website/Slider3.jpg" alt="" height="250px" width="580px">
        <div class="caption left-align">
          <h2>We Work With All Budgets</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/website/Slider2.jpg" alt="" height="250px" width="580px">
        <div class="caption right-align">
          <h2>Group & Individual Getaways</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/website/Slider4.jpg" alt="" height="250px" width="580px">
        <div class="caption right-align">
          <h2>Group & Individual Getaways</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
    </ul>
  </section>
  <!--end of section-slider-->

<!-- Section: Search -->
<section id="search" class="section section-search teal darken-1 white-text center scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Search Our Courses</h3>
          <div class="input-field">
            <input class="white grey-text autocomplete" placeholder="Aruba, Cancun, etc..." type="text" id="autocomplete-input">
          </div>
        </div>
      </div>
    </div>
</section>
<!--end of section-search-->

<!-- Section: Popular -->
<section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text">Popular</span> Courses</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
              <span class="card-title">Java for Beginners</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
              <span class="card-title">Web Technologies</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
              <span class="card-title">Graphic Designning</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas aliquid fugiat corporis laudantium, architecto
                delectus?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3">
            <i class="material-icons left">send</i> Register For Courses
          </a>
        </div>
      </div>
    </div>
  </section>
<!--end of section popular-->

<!-- Section: Follow -->
<section class="section section-follow teal darken-2 white-text center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Follow Us</h4>
          <p>Follow us on social media to know more about us</p>
          <a href="htttps://facebook.com" target="_blank" class="white-text">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="htttps://twitter.com" target="_blank" class="white-text">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="htttps://linkedin.com" target="_blank" class="white-text">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="htttps://googleplus.com" target="_blank" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="htttps://pinterest.com" target="_blank" class="white-text">
            <i class="fab fa-pinterest fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
<!--end of section follow-->

<!--Section: Contact-->
<section id="contact" class="section section-contact scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel teal white-text center">
            <i class="material-icons medium">email</i>
            <h5>Contact us if you are interested in teaching our courses.</h5>
            <a routerLink="/contact_tutor_page" class="btn btn-large">Go to page</a>
          </div>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Contact Us</h4>
            </li>
            <li class="collection-item">Vicerant IT Solutions</li>
            <li class="collection-item">fgfgff</li>
            <li class="collection-item">gfgfg</li>
          </ul>
        </div>
        
        
        <div class="col s12 m6">
          <div class="card-panel grey lighten-3">
            <h5>Please fill out this form to register for our courses</h5>
            <form class="form">
            <div class="input-field">
              <input type="text" class="form-control" [(ngModel)]="registerUserData.name" name="name" placeholder="Name">
              <label for="name">Name</label>
            </div>
            <div class="input-field">
                <input type="text" class="form-control" [(ngModel)]="registerUserData.email" name="email" placeholder="Email">
                <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" class="form-control" [(ngModel)]="registerUserData.role" name="role" placeholder="Student">
              <label for="name">Role</label>
            </div>
            <div class="input-field">
                <input type="text" class="form-control" [(ngModel)]="registerUserData.username" name="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" class="form-control" [(ngModel)]="registerUserData.password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <input type="submit" (click)="registerUser()" [routerLink]="['/login']" value="Submit" class="btn">
            
            </form>
          </div>
        </div>
        
  
      </div>
    </div>
  </section>
<!--end of section contact-->

<app-footer></app-footer>

