<nav>
        <div class="nav-wrapper indigo darken-1">
          
          <!--<img src="../../../../assets/images/student/student.png" width="60px" height="60px">--><img src="../../../../assets/images/student/NEW-LOGO-crp.png" width="350px" height="60px">
          <ul class="right hide-on-med-and-down">
            <li><a href="#home">Home</a></li>
            <li><a [routerLink]="['/admin_dashboard']"><i class="material-icons">dashboard</i></a></li>
            
            <li><a href=""><i class="material-icons">settings</i></a></li>
            <li><a href=""><i class="material-icons">account_circle</i></a></li>
          </ul>
        </div>
</nav>



<div class="container">

    <h3>Exam Marks</h3><br><br>
    <div class="row">
        <form class="col s10" #marksForm="ngForm" (ngSubmit)="onSubmit(marksForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="examMarksService.selectedMarks._id">
          <div class="row">
            <div class="input-field col s6">
                <input id="course" name="course" type="text" class="validate" #name="ngModel" [(ngModel)]="examMarksService.selectedMarks.course">
                <label for="course">Course</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="fullname" name="fullname" type="text" class="validate" #name="ngModel" [(ngModel)]="examMarksService.selectedMarks.fullname">
              <label for="fullname">Full Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <input id="username" name="username" type="text" class="validate" #name="ngModel" [(ngModel)]="examMarksService.selectedMarks.username">
                <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <input id="marks" name="marks" type="text" class="validate" #name="ngModel" [(ngModel)]="examMarksService.selectedMarks.marks">
                <label for="marks">Marks</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                <button class="btn btn-custom right" type="button" (click)="resetForm(noticeForm)">Reset</button>
                <button class="btn btn-custom right" type="submit" [disabled]="!noticeForm.valid">Submit</button>
              </div>
          </div>  
          
        </form>
    </div>
          


<div class="row">
    <div class="col s6">
      <div class="card-panel blue lighten-5">
          <div class="card-content black-text">
              <form action="#">
                  <table>

                    <h5>Phython</h5>
                  
                    <tr>
                      
                      <th>Full Name</th>
                      <th>Username</th>
                      <th>Marks</th>
                    </tr>
                  
                  <tr *ngFor="let mks of examMarksService.marks">
                    
                    <td>{{mks.fullname}}</td>
                    <td>{{mks.username}}</td>
                    <td>{{mks.marks}}</td>
                    
                  </tr>
                </table>
                </form>
          
          </div>
      </div>
    </div>

    <div class="col s6">
        <div class="card-panel blue lighten-5">
            <div class="card-content black-text">
                <form action="#">
                    <table>
  
                      <h5>Java for Beginners</h5>
                    
                      <tr>
                        
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Marks</th>
                      </tr>
                    
                    <tr *ngFor="let Javamks of examMarksService.Javamarks">
                      
                      <td>{{Javamks.fullname}}</td>
                      <td>{{Javamks.username}}</td>
                      <td>{{Javamks.marks}}</td>
                      
                    </tr>
                  </table>
                  </form>
            
            </div>
        </div>
      </div>

</div>

<div class="row">
    <div class="col s6">
      <div class="card-panel blue lighten-5">
          <div class="card-content black-text">
              <form action="#">
                  <table>

                    <h5>C</h5>
                  
                    <tr>
                      
                      <th>Full Name</th>
                      <th>Username</th>
                      <th>Marks</th>
                    </tr>
                  
                  <tr *ngFor="let Cmks of examMarksService.Cmarks">
                    
                    <td>{{Cmks.fullname}}</td>
                    <td>{{Cmks.username}}</td>
                    <td>{{Cmks.marks}}</td>
                    
                  </tr>
                </table>
                </form>
          
          </div>
      </div>
    </div>

    
</div>




</div><!--container-->


<!-- Footer -->
<footer class="footer section indigo darken-3 white-text center">
    <p class="flow-text">VICERANT IT Solutions &copy; 2018</p>
</footer>
